<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="firstName"
      md-sort-order="asc"
      md-card
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Kasallik tarixi</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state
        md-label="Kasallik tarixi topilmadi"
      >
      </md-table-empty-state>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item, index }"
        :key="item.id"
      >
        <md-table-cell md-label="№">{{ index+1 }}</md-table-cell>
        <md-table-cell md-label="Bemor">{{ item.fullName }}</md-table-cell>
        <md-table-cell md-label="Kasallik turi">{{diseaseName(item.diseaseId)}}</md-table-cell>
        <md-table-cell md-label="Shifokor">{{doctorName(item.doctorId)}}</md-table-cell>
        <md-table-cell md-label="Sanasi">{{ item.docDate }}</md-table-cell>
        <md-table-cell md-label="Sanasi">{{ getGenderName(item.gender) }}
        </md-table-cell>
        <md-table-cell md-label="Holati">{{ statusName(item.status) }}</md-table-cell>

        <md-table-cell
          ><i class="fas fa-edit" @click="editAppointment(item.id)"></i
        ></md-table-cell>
        <md-table-cell
          ><i class="fas fa-trash-alt" @click="showDelete(item.id)"></i
        ></md-table-cell>
      </md-table-row>
    </md-table>
    <div class="d-flex align-items-center justify-content-between">
      <md-dialog :md-active.sync="showDialog" class="p-2">
        <md-dialog-title>Yangi tarix qo'shish</md-dialog-title>
        <b-form>
          <div class="px-4">
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Buyurtma:</label>
                  <md-select
                    v-model="param.orderId"
                    placeholder="Buyurtmani tanlang"
                  >
                    <md-option
                      v-for="item in orders"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.fullName }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Med karta:</label>
                  <md-select
                    v-model="param.medicalCardId"
                    placeholder="Med kartani tanlang"
                  >
                    <md-option
                      v-for="item in medicalCards"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.fullName }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Shifokor:</label>
                  <md-select
                    v-model="param.doctorId"
                    placeholder="Shifikorni tanlang"
                  >
                    <md-option
                      v-for="item in doctors"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.fullName }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Tarix sanasi:</label>
                  <md-input
                    type="date"
                    v-model="param.docDate"
                    placeholder="Tarix sanasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Qo'shimcha ma'lumotlar:</label>
                  <md-input
                    v-model="param.note"
                    placeholder="Qo'shimcha ma'lumot kiriting">
                  </md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Holati:</label>
                  <md-select
                    v-model="param.status"
                    placeholder="Holatini tanlang tanlang"
                  >
                    <md-option
                      v-for="item in appointmentStatus"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
          </div>
          <md-dialog-actions class="mt-3">
            <md-button class="md-danger" @click="showDialog = false"
              >Chiqish</md-button
            >
            <md-button
              type="submit"
              class="md-success"
              @click="saveAppointment(param.id)"
              >Saqlash</md-button
            >
          </md-dialog-actions>
        </b-form>
      </md-dialog>

      <md-button class="md-raised md-success" @click="showDialog = true"
        >Tarix qo'shish</md-button
      >
      <b-pagination class="mt-3"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="1"
        @change="onPagination"
      ></b-pagination>
    </div>
    <div>
      <md-dialog class="modal1" :md-active.sync="show">
        <h3 class="text-center">O'chirishni xoxlaysizmi?</h3>
        <md-dialog-actions>
          <md-button class="md-danger" @click="show = false">Yo'q</md-button>
          <md-button
            type="submit"
            class="md-success"
            @click="deleteAppointment(param.id)"
            >Ha</md-button
          >
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.firstName).includes(toLower(term))
    );
  }

  return items;
};
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import axios from "../../http-common";
export default {
  name: "appointments-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      modalShow: false,
      selected: [],
      orders: [],
      medicalCards: [],
      showDialog: false,
      param: {},
      show: false,
      genders: [
        { id: "MALE", name: "Erkak" },
        { id: "FEMALE", name: "Ayol" }
      ],
      orderStatus: [
        { id: "CREATED", name: "Yaratilgan" },
        { id: "IN_DOCTOR", name: "Doktor holatida" },
        { id: "IN_PROCESS", name: "To'lov holatida" },
        { id: "ACCEPTED", name: "Tasdiqlangan" }
      ],
      appointmentStatus:[
        { id: "CANCELED", name: "Bekor qilingan" },
        { id: "PENDING", name: "Kutilmoqda" },
        { id: "APPROVED", name: "Tasdiqlangan" }
      ],
      doctors: [],
      diseases: [],
      appointments: [],
      search: null,
      searched: [],
      perPage: 4,
      currentPage: 1,
      totalPages: 0
    };
  },

  mounted() {
    this.getAppointments(this.currentPage - 1, 3);
    this.getDoctors();
    this.getDiseases();
  },
  computed: {
    rows() {
      return this.totalPages;
    }
  },

  methods: {
    getDoctors() {
      axios.get("/list/doctors").then(res => {
        this.doctors = res.data;
      });
    },
    getDiseases() {
      axios.get("/list/diseases").then(res => {
        this.diseases = res.data;
      });
    },
    getOrders() {
      axios.get("/list/orders").then(res => {
        this.orders = res.data;
      });
    },
    getMedicalCards() {
      axios.get("/list/medical_cards").then(res => {
        this.medicalCards = res.data;
      });
    },

    getAppointments(page, size) {
      axios.get("/appointment?page=" + page + "&size=" + size).then(res => {
        this.appointments = res.data.object;
        this.searched = this.appointments;
        this.totalPages = res.data.totalPages;
      });

      this.getOrders();
      this.getMedicalCards();
    },
    saveAppointment(id) {
      if (id) {
        axios.put("/appointment/" + id, this.param).then(res => {
          this.getAppointments();
          this.showDialog = false;
        });
      } else {
        this.showDialog = false;
        axios.post("/appointment", this.param).then(res => {
          if (res.status === 200 || res.status === 201 || res.status === 201) {
            this.getAppointments();
          }
        });
      }
    },
    editAppointment(id) {
      let item = this.appointments.find(item => item.id === id);
      this.param.id = id;
      this.param.orderId = item.orderId;
      this.param.medicalCardId = item.medicalCardId;
      this.param.docDate = item.docDate;
      this.param.doctorId = item.doctorId;
      this.param.status = item.status;
      this.param.none = item.none;
      this.showDialog = true;
    },
    deleteAppointment(id) {
      let item = this.appointments.find(item => item.id === id);
      axios.delete("/appointment/" + id).then(res => {
        if (res.status === 200 || res.status === 201) {
          this.show = false;
          this.getAppointments();
        }
      });
    },
    showDelete(id) {
      this.param.id = id;
      this.show = true;
    },
    diseaseName(id) {
      return this.diseases.find(u => u.id === id)
        ? this.diseases.find(u => u.id === id)["name"]
        : "";
    },
    getGenderName(gender) {
      switch (gender) {
        case "MALE":
          return "Erkak";
          break;
        case "FEMALE":
          return "Ayol";
          break;
        default:
          return "Erkak";
      }
    },
    doctorName(id) {
      return this.doctors.find(u => u.id === id)
        ? this.doctors.find(u => u.id === id)["fullName"]
        : "";
    },
    statusName(status) {
      switch (status){
        case "CANCELED":
          return "Bekor qilingan";
          break;
        case "PENDING":
          return "Kutilmoqda";
          break;
        case "APPROVED":
          return "Tasdiqlangan";
          break;
        default:
          return "Kutilmoqda";
      }
    },
    searchOnTable() {
      this.searched = searchByName(this.orders, this.search);
    },
    onPagination(pagination) {
      this.getAppointments(pagination - 1, 3);
    }
  }
};
</script>
<style>
.md-dialog {
  width: 800px;
}
.modal1 {
  width: 350px;
}
</style>
