<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="firstName"
      md-sort-order="asc"
      md-card
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">To'lovlar</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state md-label="To'lovlar topilmadi">
      </md-table-empty-state>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item, index }"
        :key="item.id"
      >
        <md-table-cell md-label="№">{{ index + 1 }}</md-table-cell>
        <md-table-cell md-label="Buyurtmachi">{{
          item.clientName
        }}</md-table-cell>
        <md-table-cell md-label="Buyurtma raqami">{{
          item.clientName
        }}</md-table-cell>
        <md-table-cell md-label="Sanasi">{{ item.paymentDate }}</md-table-cell>
        <md-table-cell md-label="Summasi">{{ item.paymentSum }}</md-table-cell>
        <md-table-cell md-label="To'lov turi">{{
          payTypeName(item.payType)
        }}</md-table-cell>

        <md-table-cell
          ><i class="fas fa-edit" @click="editBilling(item.id)"></i
        ></md-table-cell>
        <md-table-cell
          ><i class="fas fa-trash-alt" @click="showDelete(item.id)"></i
        ></md-table-cell>
      </md-table-row>
    </md-table>
    <div class="d-flex align-items-center justify-content-between">
      <md-dialog :md-active.sync="showDialog" class="p-2">
        <md-dialog-title>Yangi to'lov qo'shish</md-dialog-title>
        <b-form>
          <div class="px-4">
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'lov raqami:</label>
                  <md-input
                    v-model="param.paymentNum"
                    placeholder="To'lov ramini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'lov sanasi:</label>
                  <md-input
                    type="date"
                    v-model="param.paymentDate"
                    placeholder="To'lov sanasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Kasallik turi:</label>
                  <md-select
                    v-model="param.diseaseId"
                    placeholder="Kasallik turini tanlang"
                  >
                    <md-option
                      v-for="item in diseases"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'lov summasi:</label>
                  <md-input
                    v-model="param.paymentSum"
                    placeholder="To'lov summasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Buyurtma:</label>
                  <md-select
                    v-model="param.orderId"
                    placeholder="Buyurtmani tanlang"
                  >
                    <md-option
                      v-for="item in orders"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.fullName }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'lov turi:</label>
                  <md-select
                    v-model="param.payType"
                    placeholder="To'lov turini tanlang"
                  >
                    <md-option
                      v-for="item in payTypes"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Qo'shimcha ma'lumot:</label>
                  <md-input
                    v-model="param.note"
                    placeholder="Qo'shimcha ma'lumot"
                  >
                  </md-input>
                </md-field>
              </b-col>
            </b-row>
          </div>
          <md-dialog-actions class="mt-3">
            <md-button class="md-danger" @click="showDialog = false"
              >Chiqish</md-button
            >
            <md-button
              type="submit"
              class="md-success"
              @click="saveBilling(param.id)"
              >Saqlash</md-button
            >
          </md-dialog-actions>
        </b-form>
      </md-dialog>

      <md-button class="md-raised md-success" @click="showDialog = true"
        >To'lov qo'shish</md-button
      >
      <b-pagination
        class="mt-3"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="1"
        @change="onPagination"
      ></b-pagination>
    </div>
    <div>
      <md-dialog class="modal1" :md-active.sync="show">
        <h3 class="text-center">O'chirishni xoxlaysizmi?</h3>
        <md-dialog-actions>
          <md-button class="md-danger" @click="show = false">Yo'q</md-button>
          <md-button
            type="submit"
            class="md-success"
            @click="deleteBilling(param.id)"
            >Ha</md-button
          >
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.firstName).includes(toLower(term))
    );
  }

  return items;
};
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import axios from "../../http-common";
export default {
  name: "billings-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      modalShow: false,
      selected: [],
      orders: [],
      billings: [],
      diseases: [],
      showDialog: false,
      param: {},
      show: false,
      genders: [
        { id: "MALE", name: "Erkak" },
        { id: "FEMALE", name: "Ayol" }
      ],
      payTypes: [
        { id: "CARD", name: "Plastik karta" },
        { id: "CASH", name: "Naqd pul" }
      ],
      search: null,
      searched: [],
      perPage: 4,
      currentPage: 1,
      totalPages: 0
    };
  },

  mounted() {
    this.getBillings(this.currentPage - 1, 3);
  },
  computed: {
    rows() {
      return this.totalPages;
    }
  },

  methods: {
    getOrders() {
      axios.get("/list/orders").then(res => {
        this.orders = res.data;
      });
    },
    getDiseases() {
      axios.get("/list/diseases").then(res => {
        this.diseases = res.data;
      });
    },
    getBillings(page, size) {
      axios.get("/billing?page=" + page + "&size=" + size).then(res => {
        this.billings = res.data.object;
        this.searched = this.billings;
        this.totalPages = res.data.totalPages;
      });
      this.getOrders();
      this.getDiseases();
    },
    saveBilling(id) {
      if (id) {
        axios.put("/billing/" + id, this.param).then(res => {
          this.getBillings();
          this.showDialog = false;
        });
      } else {
        this.showDialog = false;
        axios.post("/billing", this.param).then(res => {
          if (res.status === 200 || res.status === 201 || res.status === 201) {
            this.getBillings();
          }
        });
      }
    },
    editBilling(id) {
      let item = this.billings.find(item => item.id === id);
      this.param.id = id;
      this.param.paymentNum = item.paymentNum;
      this.param.paymentDate = item.paymentDate;
      this.param.paymentSum = item.paymentSum;
      this.param.orderId = item.orderId;
      this.param.diseaseId = item.diseaseId;
      this.param.payType = item.payType;
      this.param.note = item.note;
      this.showDialog = true;
    },
    deleteBilling(id) {
      let item = this.orders.find(item => item.id === id);
      axios.delete("/order/" + id).then(res => {
        if (res.status === 200 || res.status === 201) {
          this.show = false;
          this.getBillings();
        }
      });
    },
    showDelete(id) {
      this.param.id = id;
      this.show = true;
    },
    payTypeName(type) {
      switch (type) {
        case "CARD":
          return "Plastik karta";
          break;
        case "CASH":
          return "Naqd pul";
          break;
        default:
          return "Plastik karta";
      }
    },

    searchOnTable() {
      this.searched = searchByName(this.orders, this.search);
    },
    onPagination(pagination) {
      this.getBillings(pagination - 1, 3);
    }
  }
};
</script>
<style>
.md-dialog {
  width: 800px;
}
.modal1 {
  width: 350px;
}
</style>
