<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="firstName"
      md-sort-order="asc"
      md-card
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Kasallik turlari</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state
        md-label="Kasallik turi topilmadi"
      >
      </md-table-empty-state>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item, index }"
        :key="item.id"
      >
        <md-table-cell md-label="№">{{ index+1 }}</md-table-cell>
        <md-table-cell md-label="Nomi">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Kasallik narxi">{{item.paySum}}</md-table-cell>
        <md-table-cell md-label="Holati">{{ statusName(item.status) }}</md-table-cell>

        <md-table-cell
          ><i class="fas fa-edit" @click="editDisease(item.id)"></i
        ></md-table-cell>
        <md-table-cell
          ><i class="fas fa-trash-alt" @click="showDelete(item.id)"></i
        ></md-table-cell>
      </md-table-row>
    </md-table>
    <div class="d-flex align-items-center justify-content-between">
      <md-dialog :md-active.sync="showDialog" class="p-2">
        <md-dialog-title>Yangi buyurtma qo'shish</md-dialog-title>
        <b-form>
          <div class="px-4">
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'liq nomi:</label>
                  <md-input
                    v-model="param.name"
                    placeholder="Kasallik nomini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Narxi:</label>
                  <md-input
                    type="number"
                    v-model="param.paySum"
                    placeholder="Narxini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
              <md-field>
                  <label style="font-size: 15px;">Holati:</label>
                  <md-select
                    v-model="param.status"
                    placeholder="Holatini tanlang:"
                  >
                    <md-option
                      v-for="item in diseaseStatus"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
              </md-field>
            </b-col>

            </b-row>
          </div>
          <md-dialog-actions class="mt-3">
            <md-button class="md-danger" @click="showDialog = false"
              >Chiqish</md-button
            >
            <md-button
              type="submit"
              class="md-success"
              @click="saveDisease(param.id)"
              >Saqlash</md-button
            >
          </md-dialog-actions>
        </b-form>
      </md-dialog>

      <md-button class="md-raised md-success" @click="showDialog = true"
        >Kasallik turi qo'shish</md-button
      >
      <b-pagination class="mt-3"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="1"
        @change="onPagination"
      ></b-pagination>
    </div>
    <div>
      <md-dialog class="modal1" :md-active.sync="show">
        <h3 class="text-center">O'chirishni xoxlaysizmi?</h3>
        <md-dialog-actions>
          <md-button class="md-danger" @click="show = false">Yo'q</md-button>
          <md-button
            type="submit"
            class="md-success"
            @click="deleteDisease(param.id)"
            >Ha</md-button
          >
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.firstName).includes(toLower(term))
    );
  }

  return items;
};
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import axios from "../../http-common";
export default {
  name: "diseases-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      modalShow: false,
      selected: [],
      showDialog: false,
      param: {},
      show: false,
      diseases: [],
      search: null,
      searched: [],
      diseaseStatus:[
        { id: "ACTIVE", name: "Aktiv" },
        { id: "NO_ACTIVE", name: "Aktiv emas"}
      ],
      perPage: 4,
      currentPage: 1,
      totalPages: 0
    };
  },

  mounted() {
    this.getDiseases(this.currentPage - 1, 3);
  },
  computed: {
    rows() {
      return this.totalPages;
    }
  },

  methods: {
    getDiseases(page, size) {
      axios.get("/disease").then(res => {
        this.diseases = res.data;
        this.searched = this.diseases;
      });
    },
    saveDisease(id) {
      console.log(id)
      if (id) {
        axios.put("/disease/" + id, this.param).then(res => {
          this.getDiseases();
          this.showDialog = false;
        });
      } else {
        this.showDialog = false;
        axios.post("/disease", this.param).then(res => {
          if (res.status === 200 || res.status === 201 || res.status === 201) {
            this.getDiseases();
          }
        });
      }
    },
    editDisease(id) {
      let item = this.diseases.find(item => item.id === id);
      this.param.id = id;
      this.param.name = item.name;
      this.param.paySum = item.paySum;
      this.param.status = item.status;
      this.showDialog = true;
    },
    deleteDisease(id) {
      let item = this.diseases.find(item => item.id === id);
      axios.delete("/disease/" + id).then(res => {
        if (res.status === 200 || res.status === 201) {
          this.show = false;
          this.getDiseases();
        }
      });
    },
    showDelete(id) {
      this.param.id = id;
      this.show = true;
    },
    statusName(status) {
      switch (status){
        case "ACTIVE":
          return "Aktiv";
          break;
        case "NO_ACTIVE":
          return "Aktiv emas";
          break;
        default:
          return "Aktiv";
      }
    },
    searchOnTable() {
      this.searched = searchByName(this.orders, this.search);
    },
    onPagination(pagination) {
      this.getDiseases(pagination - 1, 3);
    }
  }
};
</script>
<style>
.md-dialog {
  width: 800px;
}
.modal1 {
  width: 350px;
}
</style>
