<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="firstName"
      md-sort-order="asc"
      md-card
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Ambulator kartalar</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state md-label="Karta topilmadi"> </md-table-empty-state>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item, index }"
        :key="item.id"
      >
        <md-table-cell md-label="№">{{ index + 1 }}</md-table-cell>
        <md-table-cell md-label="Karta egasi">{{
          item.fullName
        }}</md-table-cell>
        <md-table-cell md-label="Pasport">{{ item.passport }}</md-table-cell>
        <md-table-cell md-label="Tug'ilgan sanasi">{{
          item.birthDate
        }}</md-table-cell>
        <md-table-cell md-label="Manzili">{{ item.address }}</md-table-cell>
        <md-table-cell md-label="Jinsi">{{
          getGenderName(item.gender)
        }}</md-table-cell>
        <md-table-cell md-label="Holati">{{
          statusName(item.status)
        }}</md-table-cell>

        <md-table-cell
          ><i class="fas fa-edit" @click="editMedicalCard(item.id)"></i
        ></md-table-cell>
        <md-table-cell
          ><i class="fas fa-trash-alt" @click="showDelete(item.id)"></i
        ></md-table-cell>
      </md-table-row>
    </md-table>
    <div class="d-flex align-items-center justify-content-between">
      <md-dialog :md-active.sync="showDialog" class="p-2">
        <md-dialog-title>Yangi karta qo'shish</md-dialog-title>
        <b-form>
          <div class="px-4">
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'liq ismi:</label>
                  <md-input
                    v-model="param.fullName"
                    placeholder="FISH kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Pasport:</label>
                  <md-input
                    v-model="param.passport"
                    placeholder="Pasportni kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Tu'gilgan sanani:</label>
                  <md-input
                    type="date"
                    v-model="param.birthDate"
                    placeholder="Tug'ilgan sanasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Manzili:</label>
                  <md-input
                    v-model="param.address"
                    placeholder="Manzilni kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Tel raqami:</label>
                  <md-input
                    v-model="param.phone"
                    placeholder="Tel raqamni kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Jinsi:</label>
                  <md-select
                    v-model="param.gender"
                    placeholder="Jinsini tanlang"
                  >
                    <md-option
                      v-for="item in genders"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <md-field>
                  <label style="font-size: 15px;"
                    >Qo'shimcha ma'lumotlar:</label
                  >
                  <md-input
                    v-model="param.note"
                    placeholder="Qo'shimcha ma'lumot kiriting"
                  >
                  </md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Holati:</label>
                  <md-select
                    v-model="param.status"
                    placeholder="Holatini tanlang:"
                  >
                    <md-option
                      v-for="item in medicalCardStatus"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
          </div>
          <md-dialog-actions class="mt-3">
            <md-button class="md-danger" @click="showDialog = false"
              >Chiqish</md-button
            >
            <md-button
              type="submit"
              class="md-success"
              @click="saveMedicalCard(param.id)"
              >Saqlash</md-button
            >
          </md-dialog-actions>
        </b-form>
      </md-dialog>

      <md-button class="md-raised md-success" @click="showDialog = true"
        >Buyurtma qo'shish</md-button
      >
      <b-pagination
        class="mt-3"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="1"
        @change="onPagination"
      ></b-pagination>
    </div>
    <div>
      <md-dialog class="modal1" :md-active.sync="show">
        <h3 class="text-center">O'chirishni xoxlaysizmi?</h3>
        <md-dialog-actions>
          <md-button class="md-danger" @click="show = false">Yo'q</md-button>
          <md-button
            type="submit"
            class="md-success"
            @click="deleteMedicalCard(param.id)"
            >Ha</md-button
          >
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.firstName).includes(toLower(term))
    );
  }

  return items;
};
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import axios from "../../http-common";
export default {
  name: "medical-cards-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      modalShow: false,
      selected: [],
      medicalCards: [],
      showDialog: false,
      param: {},
      show: false,
      genders: [
        { id: "MALE", name: "Erkak" },
        { id: "FEMALE", name: "Ayol" }
      ],
      medicalCardStatus: [
        { id: "ACTIVE", name: "Aktiv" },
        { id: "NO_ACTIVE", name: "Aktiv emas" }
      ],
      search: null,
      searched: [],
      perPage: 4,
      currentPage: 1,
      totalPages: 0
    };
  },

  mounted() {
    this.getMedicalCards(this.currentPage - 1, 3);
  },
  computed: {
    rows() {
      return this.totalPages;
    }
  },

  methods: {
    getMedicalCards(page, size) {
      axios.get("/medical_card?page=" + page + "&size=" + size).then(res => {
        this.medicalCards = res.data.object;
        this.searched = this.medicalCards;
        this.totalPages = res.data.totalPages;
      });
    },
    saveMedicalCard(id) {
      if (id) {
        axios.put("/medical_card/" + id, this.param).then(res => {
          this.getMedicalCards();
          this.showDialog = false;
        });
      } else {
        this.showDialog = false;
        axios.post("/medical_card", this.param).then(res => {
          if (res.status === 200 || res.status === 201 || res.status === 201) {
            this.getMedicalCards();
          }
        });
      }
    },
    editMedicalCard(id) {
      let item = this.medicalCards.find(item => item.id === id);
      this.param.id = id;
      this.param.fullName = item.fullName;
      this.param.passport = item.passport;
      this.param.birthDate = item.birthDate;
      this.param.address = item.address;
      this.param.phone = item.phone;
      this.param.gender = item.gender;
      this.param.note = item.note;
      this.param.status = item.status;
      this.showDialog = true;
    },
    deleteMedicalCard(id) {
      let item = this.medicalCards.find(item => item.id === id);
      axios.delete("/medical_card/" + id).then(res => {
        if (res.status === 200 || res.status === 201) {
          this.show = false;
          this.getMedicalCards();
        }
      });
    },
    showDelete(id) {
      this.param.id = id;
      this.show = true;
    },
    statusName(status) {
      switch (status) {
        case "ACTIVE":
          return "Aktiv";
          break;
        case "NO_ACTIVE":
          return "Faol emas";
          break;
        default:
          return "Aktiv";
      }
    },
    getGenderName(gender) {
      switch (gender) {
        case "MALE":
          return "Erkak";
          break;
        case "FEMALE":
          return "Ayol";
          break;
        default:
          return "Erkak";
      }
    },

    searchOnTable() {
      this.searched = searchByName(this.orders, this.search);
    },
    onPagination(pagination) {
      this.getMedicalCards(pagination - 1, 3);
    }
  }
};
</script>
<style>
.md-dialog {
  width: 800px;
}
.modal1 {
  width: 350px;
}
</style>
