<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="firstName"
      md-sort-order="asc"
      md-card
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Buyurtmalar</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state
        md-label="Buyurtma topilmadi"
      >
      </md-table-empty-state>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item, index }"
        :key="item.id"
      >
        <md-table-cell md-label="№">{{ index+1 }}</md-table-cell>
        <md-table-cell md-label="Buyurtmachi">{{ item.fullName }}</md-table-cell>
        <md-table-cell md-label="Passport">{{ item.passport }}</md-table-cell>
        <md-table-cell md-label="Kasallik turi">{{diseaseName(item.diseaseId)}}</md-table-cell>
        <md-table-cell md-label="Shifokor">{{doctorName(item.doctorId)}}</md-table-cell>
        <md-table-cell md-label="Raqami">{{ item.docNum }}</md-table-cell>
        <md-table-cell md-label="Sanasi">{{ item.docDate }}</md-table-cell>
        <md-table-cell md-label="Holati">{{ statusName(item.status) }}</md-table-cell>

        <md-table-cell
          ><i class="fas fa-edit" @click="editOrder(item.id)"></i
        ></md-table-cell>
        <md-table-cell
          ><i class="fas fa-trash-alt" @click="showDelete(item.id)"></i
        ></md-table-cell>
      </md-table-row>
    </md-table>
    <div class="d-flex align-items-center justify-content-between">
      <md-dialog :md-active.sync="showDialog" class="p-2">
        <md-dialog-title>Buyurtmalar</md-dialog-title>
        <b-form>
          <div class="px-4">
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">To'liq ismi:</label>
                  <md-input
                    v-model="param.fullName"
                    placeholder="FISH kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Pasport:</label>
                  <md-input
                    v-model="param.passport"
                    placeholder="Pasport kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Tu'gilgan sanani:</label>
                  <md-input
                    type="date"
                    v-model="param.birthDate"
                    placeholder="Tug'ilgan sanasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>

            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Manzili:</label>
                  <md-input
                    v-model="param.address"
                    placeholder="Manzilni kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Tel raqami:</label>
                  <md-input
                    v-model="param.phone"
                    placeholder="Tel raqamni kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Jinsi:</label>
                  <md-select
                    v-model="param.gender"
                    placeholder="Jinsini tanlang"
                  >
                    <md-option
                      v-for="item in genders"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Kasallik turi:</label>
                  <md-select
                    v-model="param.diseaseId"
                    placeholder="Kasallik turini tanlang"
                  >
                    <md-option
                      v-for="item in diseases"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Narxi:</label>
                  <md-input
                    v-model="param.paySum"
                    placeholder="Narxini kiriting"
                  >
                  </md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Shifokor:</label>
                  <md-select
                    v-model="param.doctorId"
                    placeholder="Shifikorni tanlang"
                  >
                    <md-option
                      v-for="item in doctors"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.fullName }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Buyurtma sanasi:</label>
                  <md-input
                    type="date"
                    v-model="param.docDate"
                    placeholder="Buyurtma sanasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Buyurtma raqami:</label>
                  <md-input
                    v-model="param.docNum"
                    placeholder="Buyurtma raqamini kiriting"
                  >
                  </md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Qo'shimcha ma'lumotlar:</label>
                  <md-input
                    v-model="param.note"
                    placeholder="Qo'shimcha ma'lumot kiriting">

                  </md-input>
                </md-field>
              </b-col>
            </b-row>
          </div>
          <md-dialog-actions class="mt-3">
            <md-button class="md-danger" @click="showDialog = false"
              >Chiqish</md-button
            >
            <md-button
              type="submit"
              class="md-success"
              @click="saveOrder(param.id)"
              >Saqlash</md-button
            >
          </md-dialog-actions>
        </b-form>
      </md-dialog>

      <md-button class="md-raised md-success" @click="showDialog = true"
        >Buyurtma qo'shish</md-button
      >
      <b-pagination class="mt-3"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="1"
        @change="onPagination"
      ></b-pagination>
    </div>
    <div>
      <md-dialog class="modal1" :md-active.sync="show">
        <h3 class="text-center">O'chirishni xoxlaysizmi?</h3>
        <md-dialog-actions>
          <md-button class="md-danger" @click="show = false">Yo'q</md-button>
          <md-button
            type="submit"
            class="md-success"
            @click="deleteOrder(param.id)"
            >Ha</md-button
          >
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.firstName).includes(toLower(term))
    );
  }

  return items;
};
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import axios from "../../http-common";
export default {
  name: "orders-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      modalShow: false,
      selected: [],
      orders: [],
      showDialog: false,
      param: {},
      show: false,
      genders: [
        { id: "MALE", name: "Erkak" },
        { id: "FEMALE", name: "Ayol" }
      ],
      orderStatus: [
        { id: "CREATED", name: "Yaratilgan" },
        { id: "IN_DOCTOR", name: "Doktor holatida" },
        { id: "IN_PROCESS", name: "To'lov holatida" },
        { id: "ACCEPTED", name: "Tasdiqlangan" }
      ],
      doctors: [],
      diseases: [],
      search: null,
      searched: [],
      perPage: 4,
      currentPage: 1,
      totalPages: 0
    };
  },

  mounted() {
    this.getOrders(this.currentPage - 1, 3);
  },
  computed: {
    rows() {
      return this.totalPages;
    }
  },

  methods: {
    getDoctors() {
      axios.get("/list/doctors").then(res => {
        this.doctors = res.data;
      });
    },
    getDiseases() {
      axios.get("/list/diseases").then(res => {
        this.diseases = res.data;
      });
    },
    getOrders(page, size) {
      axios.get("/order?page=" + page + "&size=" + size).then(res => {
        this.orders = res.data.object;
        this.searched = this.orders;
        this.totalPages = res.data.totalPages;
      });
      this.getDoctors();
      this.getDiseases();
    },
    saveOrder(id) {
      console.log(id);
      if (id) {
        axios.put("/order/" + id, this.param).then(res => {
          this.getOrders();
          this.showDialog = false;
        });
      } else {
        this.showDialog = false;
        axios.post("/order", this.param).then(res => {
          if (res.status === 200 || res.status === 201 || res.status === 201) {
            this.getOrders();
          }
        });
      }
    },
    editOrder(id) {
      let item = this.orders.find(item => item.id === id);
      this.param.id = id;
      this.param.fullName = item.fullName;
      this.param.birthDate = item.birthDate;
      this.param.address = item.address;
      this.param.phone = item.phone;
      this.param.gender = item.gender;
      this.param.note = item.note;
      this.param.doctorId = item.doctorId;
      this.param.diseaseId = item.diseaseId;
      this.param.paySum = item.paySum;
      this.param.docNum = item.docNum;
      this.param.docDate = item.docDate;
      this.param.status = item.status;
      this.showDialog = true;
    },
    deleteOrder(id) {
      let item = this.orders.find(item => item.id === id);
      axios.delete("/order/" + id).then(res => {
        if (res.status === 200 || res.status === 201) {
          this.show = false;
          this.getOrders();
        }
      });
    },
    showDelete(id) {
      this.param.id = id;
      this.show = true;
    },
    diseaseName(id) {
      return this.diseases.find(u => u.id === id)["name"];
    },
    doctorName(id) {
      return this.doctors.find(u => u.id === id)["fullName"];
    },
    statusName(status) {
      switch (status){
        case "IN_DOCTOR":
          return "Doktor ko'rib chiqmoqda";
          break;
        case "IN_PROCESS":
          return "To'lov holatida";
          break;
        default:
          return "Yaratilgan";
      }
    },

    searchOnTable() {
      this.searched = searchByName(this.orders, this.search);
    },
    onPagination(pagination) {
      this.getOrders(pagination - 1, 3);
    }
  }
};
</script>
<style>
.md-dialog {
  width: 800px;
}
.modal1 {
  width: 350px;
}
</style>
