<template>
  <div>
    <md-table
      v-model="searched"
      md-sort="firstName"
      md-sort-order="asc"
      md-card
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Foydalanuvchilar</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Search by name..."
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>
      <md-table-empty-state
        md-label="No users found"
        :md-description="
          `No user found for this '${search}' query. Try a different search term or create a new user.`
        "
      >
      </md-table-empty-state>
      <md-table-row
        slot="md-table-row"
        slot-scope="{ item, index }"
        :key="item.id"
      >
        <md-table-cell md-label="№">{{ index+1 }}</md-table-cell>
        <md-table-cell md-label="Ismi">{{ item.firstName }}</md-table-cell>
        <md-table-cell md-label="Familyasi">{{ item.lastName }}</md-table-cell>
        <md-table-cell md-label="Tug'ilgan sanasi">{{ item.birthDate }}</md-table-cell>
        <md-table-cell md-label="Manzili">{{ item.address }}</md-table-cell>
        <md-table-cell md-label="Role">{{ item.role }}</md-table-cell>
        <md-table-cell md-label="Tel raqami">{{ item.phone }}</md-table-cell>
        <md-table-cell md-label="Holati">
          <span style="background-color: #00c853; padding: 7px;border-radius: 5px; font-weight: bold">{{ item.userStatus }}</span>
        </md-table-cell>
        <md-table-cell
          ><i class="fas fa-edit" @click="editUser(item.id)"></i
        ></md-table-cell>
        <md-table-cell
          ><i class="fas fa-trash-alt" @click="showDelete(item.id)"></i
        ></md-table-cell>
      </md-table-row>
    </md-table>
    <div class="d-flex align-items-center justify-content-between">
      <md-dialog :md-active.sync="showDialog" class="p-2">
        <md-dialog-title>Foydalanuvchi</md-dialog-title>
        <b-form>
          <div class="px-4">
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Ismi:</label>
                  <md-input
                    v-model="param.firstName"
                    placeholder="Ismini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Familyasi:</label>
                  <md-input
                    v-model="param.lastName"
                    placeholder="Familyasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px;">Tel raqami:</label>
                  <md-input
                    v-model="param.phone"
                    placeholder="Tel raqamini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Tug'ilgan sanani:</label>
                  <md-input
                    type="date"
                    v-model="param.birthDate"
                    placeholder="Tug'ilgan sanasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Tajribasi:</label>
                  <md-input
                    v-model="param.expierence"
                    placeholder="Tajribasini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Jinsi:</label>
                  <md-select
                    v-model="param.gender"
                    placeholder="Jinsini tanlang"
                  >
                    <md-option
                      v-for="item in genders"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Manzili:</label>
                  <md-input
                    v-model="param.address"
                    placeholder="Manzilini kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Login:</label>
                  <md-input
                    v-model="param.username"
                    placeholder="Login kiriting"
                  ></md-input>
                </md-field>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Parol:</label>
                  <md-input
                    v-model="param.password"
                    placeholder="Parol kiriting"
                  ></md-input>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Role:</label>
                  <md-select
                    v-model="param.role"
                    placeholder="Rol tanlang"
                  >
                    <md-option
                      v-for="item in roles"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
              <b-col>
                <md-field>
                  <label style="font-size: 15px">Holati:</label>
                  <md-select
                    v-model="param.userStatus"
                    placeholder="Holatini tanlang"
                  >
                    <md-option
                      v-for="item in status"
                      v-bind:key="item.id"
                      :value="item.id"
                    >
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </md-field>
              </b-col>
            </b-row>
          </div>
          <md-dialog-actions class="mt-3">
            <md-button class="md-danger" @click="showDialog = false"
              >Chiqish</md-button
            >
            <md-button
              type="submit"
              class="md-success"
              @click="saveUser(param.id)"
              >Saqlash</md-button
            >
          </md-dialog-actions>
        </b-form>
      </md-dialog>

      <md-button class="md-raised md-success" @click="showDialog = true"
        >Foydalanuvchi qo'shish</md-button
      >
      <b-pagination class="mt-3"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="1"
        @change="onPagination"
      ></b-pagination>
    </div>
    <div>
      <md-dialog class="modal1" :md-active.sync="show">
        <h3 class="text-center">O'chirishni xoxlaysizmi?</h3>
        <md-dialog-actions>
          <md-button class="md-danger" @click="show = false">Yo'q</md-button>
          <md-button
            type="submit"
            class="md-success"
            @click="deleteUser(param.id)"
            >Ha</md-button
          >
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>
</template>

<script>
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.firstName).includes(toLower(term))
    );
  }

  return items;
};
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import axios from "../../http-common";
export default {
  name: "users-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      modalShow: false,
      selected: [],
      users: [],
      showDialog: false,
      param: {},
      show: false,
      genders: [
        { id: "MALE", name: "Erkak" },
        { id: "FEMALE", name: "Ayol" }
      ],
      roles:[
        { id: "DOCTOR", name: "Doktor" },
        { id: "RADIOLOGIST", name: "Rentgenolog" },
        { id: "PHARMACIST", name: "Farmaseft" },
        { id: "RECEPTIONIST", name: "Adminstrator" },
        { id: "NURSE", name: "Hamshira" },
        { id: "ACCOUNTANT", name: "Buxgalter" }
      ],
      status:[
        { id: "ACTIVE", name: "Aktiv" },
        { id: "NO_ACTIVE", name: "O'chirilgan" }
      ],
      search: null,
      searched: [],
      perPage: 4,
      currentPage: 1,
      totalPages: 0
    };
  },

  mounted() {
    console.log('test')
    this.getUsers(this.currentPage - 1, 3);
  },
  computed: {
    rows() {
      return this.totalPages;
    },
  },

  methods: {
    // getScience() {
    //   axios.get("/catalogs").then(res => {
    //     this.science = res.data;
    //   });
    // },
    getUsers(page, size) {
      axios.get("/auth/users?page=" + page + "&size=" + size).then(res => {
        this.users = res.data.object
        console.log(this.users)
        this.searched = this.users;
        this.totalPages = res.data.totalPages;
      });
    },
    saveUser(id) {
      if (id) {
        axios.put("/auth/user/" + id, this.param).then(res => {
          this.getUsers();
          this.showDialog = false;
        });
      } else {
        this.showDialog = false;
        axios.post("/auth/register", this.param).then(res => {
          if (res.status === 200 || res.status === 201 || res.status === 202) {
            this.getUsers();
          }
        });
      }
    },
    editUser(id) {
      let item = this.users.find(item => item.id === id);
      this.param.id = id;
      this.param.firstName = item.firstName;
      this.param.lastName = item.lastName;
      this.param.birthDate = item.birthDate;
      this.param.address = item.address;
      this.param.phone = item.phone;
      this.param.role = item.role;
      this.param.gender = item.gender;
      this.param.username = item.username;
      this.param.userStatus = item.userStatus;
      this.param.expierence = item.expierence;
      this.showDialog = true;
    },
    deleteUser(id) {
      let item = this.users.find(item => item.id === id);
      axios.delete("/auth/user/" + id).then(res => {
        if (res.status === 200 || res.status === 201) {
          this.show = false;
          this.getUsers();
        }
      });
    },
    showDelete(id) {
      this.param.id = id;
      this.show = true;
    },
    scienceName(id) {
      console.log(this.science.find(u => u.id === id));
      return this.science.find(u => u.id === id)["nameUz"];
    },

    searchOnTable() {
      this.searched = searchByName(this.users, this.search);
    },
    onPagination(pagination) {
      this.getUsers(pagination - 1, 3);
    }
  }
};
</script>
<style>
.md-dialog {
  width: 800px;
}
.modal1 {
  width: 350px;
}
</style>
