<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">

    <side-bar
      :sidebar-item-color="sidebarBackground"
      :sidebar-background-image="sidebarBackgroundImage"
    >
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/dashboard">
        <md-icon>dashboard</md-icon>
        <p>Dashboard</p>
      </sidebar-link>
      <sidebar-link to="/orders">
        <md-icon><b-icon icon="cash-stack" aria-hidden="true"></b-icon></md-icon>
        <p>Buyurtmalar</p>
      </sidebar-link>
      <sidebar-link to="/billings">
        <md-icon><b-icon icon="cash-stack" aria-hidden="true"></b-icon></md-icon>
        <p>To'lovlar</p>
      </sidebar-link>
      <sidebar-link to="/appointments">
        <md-icon><b-icon icon="cash-stack" aria-hidden="true"></b-icon></md-icon>
        <p>Kasallik tarixi</p>
      </sidebar-link>
      <sidebar-link to="/medical-cards">
        <md-icon><b-icon icon="cash-stack" aria-hidden="true"></b-icon></md-icon>
        <p>Ambulator kartalar</p>
      </sidebar-link>
      <sidebar-link to="/users">
        <md-icon><b-icon icon="cash-stack" aria-hidden="true"></b-icon></md-icon>
        <p>Foydalanuvchilar</p>
      </sidebar-link>
      <sidebar-link to="/diseases">
        <md-icon><b-icon icon="cash-stack" aria-hidden="true"></b-icon></md-icon>
        <p>Kasallik turlari</p>
      </sidebar-link>
      <sidebar-link to="/auth/login">
        <md-icon>exit</md-icon>
        <p>Chiqish</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <fixed-plugin
        :color.sync="sidebarBackground"
        :image.sync="sidebarBackgroundImage"
      >
      </fixed-plugin>

      <dashboard-content> </dashboard-content>

      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>

<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "@/pages/Layout/MobileMenu.vue";
import FixedPlugin from "./Extra/FixedPlugin.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
    MobileMenu,
    FixedPlugin
  },
  data() {
    return {
      sidebarBackground: "green",
      sidebarBackgroundImage: require("@/assets/img/sidebar-2.jpg")
    };
  }
};
</script>
